{% extends "loginapp/base.html" %}

{% block title %}Посещение{% endblock %}

{% block content %}

<div class="admin-page">
  <form id="filter-form" method="GET" action="{% url 'admin' %}" class="form-table">
    <select name="users" class="code-block">
      <option value="">Выберите пользователя</option>
      {% for user in form.users.field.queryset %}
        <option value="{{ user.id }}">{{ user.last_name }}</option>
      {% endfor %}
    </select>
  
    <input type="text" name="search" placeholder="Поиск по имени" value="{{ request.GET.search }}">
    <input type="date" name="date1" value="{{ request.GET.date }}">
    <input type="date" name="date2" value="{{ request.GET.date }}">
    <button type="submit">Поиск</button>
    <a href="{% url 'admin' %}"><button type="button" id="reset-button">Сбросить</button></a>
<a href="{% url 'admin' %}?search={{ search_query }}&date1={{ since_date_filter }}&date2={{before_date_filter}}&sort_by={{ sort_by }}&users={{ form.users.value }}&download=True" class="btn btn-primary">Скачать отчет</a>




  </form>
  

  <table>
    <thead>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата</th>
        <th>Время входа</th>
        <th>Время ухода</th>
        <th>Время работы</th>
        <th>Опоздание</th>
        <th>Переработка</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="?sort_by=first_name">
            <img src="/media/icons/sort.svg" alt="Sort" />
          </a>
        </td>
        <td>
          <a href="?sort_by=last_name">
            <img src="/media/icons/sort.svg" alt="Sort" />
          </a>
        </td>
        <td>
          <a href="?sort_by=date">
            <img src="/media/icons/sort.svg" alt="Sort" />
          </a>
        </td>
        <td>
          <a href="?sort_by=arrival_time">
            <img src="/media/icons/sort.svg" alt="Sort" />
          </a>
        </td>
        <td>
          <a href="?sort_by=leaving_time">
            <img src="/media/icons/sort.svg" alt="Sort" />
          </a>
        </td>
      </tr>
      {% for item in visits %}
      <tr>
        <td>{{ item.user.first_name }}</td>
        <td>{{item.user.last_name}}</td>
        <td>{{ item.date }}</td>
        <td class="time">{{ item.arrival_time|time:"H:i" }}</td>
        <td>{{ item.leaving_time|time:"H:i" }}</td>
        <td>{{ item.working_time}}</td>
        <td>{{ item.lateness }}</td>
        <td>{{ item.recycling }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.getElementById('reset-button').addEventListener('click', function() {
    // Сбросить значения полей формы
    document.getElementById('filter-form').reset();
    let input = document.querySelector("#filter-form > input[type=text]:nth-child(2)")
    input.value = ''
  });


</script>
{% endblock %}



